
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v16/.suo
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v16/Browse.VC.db
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v16/Browse.VC.db-shm
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v16/Browse.VC.db-wal
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v16/Browse.VC.opendb
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v16/ipch/AutoPCH/cf8eeaea9f2cb157/MAIN.ipch
UTS_5 SECONDS/LibraryDependencies/GLEW/include/GL/eglew.h
UTS_5 SECONDS/LibraryDependencies/GLEW/include/GL/glew.h
UTS_5 SECONDS/LibraryDependencies/GLEW/include/GL/glxew.h
UTS_5 SECONDS/LibraryDependencies/GLEW/include/GL/wglew.h
UTS_5 SECONDS/LibraryDependencies/include/GLFW/glfw3.h
UTS_5 SECONDS/LibraryDependencies/include/GLFW/glfw3native.h
UTS_5 SECONDS/LibraryDependencies/lib-vc2019/glfw3.dll
UTS_5 SECONDS/LibraryDependencies/lib-vc2019/glfw3.lib
UTS_5 SECONDS/LibraryDependencies/lib-vc2019/glfw3_mt.lib
UTS_5 SECONDS/LibraryDependencies/lib-vc2019/glfw3dll.lib
UTS_5 SECONDS/UTS_5 SECONDS.vcxproj
UTS_5 SECONDS/x64/Debug/UTS_5 SECONDS.log
UTS_5 SECONDS/UTS_5 SECONDS.vcxproj
UTS_5 SECONDS/x64/Debug/UTS_5 SECONDS.log
UTS_5 SECONDS/UTS_5 SECONDS.vcxproj
UTS_5 SECONDS/LibraryDependencies/GLEW/lib/glew32s.lib
UTS_5 SECONDS/.vs/VSWorkspaceState.json
*.ipch
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v17/Browse.VC.db
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v17/.suo
UTS_5 SECONDS/.vs/UTS_5 SECONDS/FileContentIndex/e1e68368-e984-43ca-9af5-fdeaa92541c5.vsidx
UTS_5 SECONDS/.vs/UTS_5 SECONDS/FileContentIndex/b5ac39d0-c8aa-4bd0-a46e-dcb78a9afbf5.vsidx
*.db
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v17/Browse.VC.db
UTS_5 SECONDS/.vs/UTS_5 SECONDS/v17/.suo
